In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import shapiro
import re

# demos=pd.read_csv('demographics.csv')
# demos.drop(demos[demos['Season']==2016].index, inplace=True)
# demos.drop(columns='Unnamed: 0', inplace=True, axis=1)
# demos.info()

I notice that for 2016, the column contain the names of positions instead of numbers. I am going to use height16edits.ipynb to make changes to that year and re-insert the data.

The formatting needed to combine the datasets is done, so we can remove the code from our runs.

In [2]:
# sixteen=pd.read_csv('sixteen.csv')
# sixteen=sixteen.drop(columns='Unnamed: 0',axis=1)
# print(demos.columns)
# print(sixteen.columns)

In [3]:

# cols_sixteen = set(sixteen.columns)
# cols_demos = set(demos.columns)

# only_in_sixteen = cols_sixteen - cols_demos
# only_in_demos = cols_demos - cols_sixteen

# print("Columns in sixteen but not in demos:", only_in_sixteen)
# print("Columns in demos but not in sixteen:", only_in_demos)
# demos=demos.drop(columns=only_in_demos, axis=1)

In [4]:
# demos.head()

In [5]:
# demofinal=pd.merge(sixteen, demos, on=['Season','TeamName','Size','SizeRank','Hgt5','Hgt5Rank','Hgt4','Hgt4Rank','Hgt3','Hgt3Rank','Hgt2','Hgt2Rank','Hgt1','Hgt1Rank','HgtEff','HgtEffRank','Exp','ExpRank','Bench','BenchRank','Pts5','Pts5Rank','Pts4','Pts4Rank','Pts3','Pts3Rank','Pts2','Pts2Rank','Pts1','Pts1Rank','OR5','OR5Rank','OR4','OR4Rank','OR3','OR3Rank','OR2','OR2Rank','OR1','OR1Rank','DR5','DR5Rank','DR4','DR4Rank','DR3','DR3Rank','DR2','DR2Rank','DR1','DR1Rank'], how='outer')

In [6]:
# demofinal.to_csv('finalheights.csv')

In [2]:
demofinal=pd.read_csv('finalheights.csv')
twentyfive=pd.read_csv('height25 (1).csv')
demofinal=pd.merge(demofinal, twentyfive, on=['Season','TeamName','Size','SizeRank','Hgt5','Hgt5Rank','Hgt4','Hgt4Rank','Hgt3','Hgt3Rank','Hgt2','Hgt2Rank','Hgt1','Hgt1Rank','HgtEff','HgtEffRank','Exp','ExpRank','Bench','BenchRank','Pts5','Pts5Rank','Pts4','Pts4Rank','Pts3','Pts3Rank','Pts2','Pts2Rank','Pts1','Pts1Rank','OR5','OR5Rank','OR4','OR4Rank','OR3','OR3Rank','OR2','OR2Rank','OR1','OR1Rank','DR5','DR5Rank','DR4','DR4Rank','DR3','DR3Rank','DR2','DR2Rank','DR1','DR1Rank'], how='outer')

In [3]:
demofinal=demofinal[demofinal.columns.drop(list(demofinal.filter(regex='Rank')))]

In [4]:
demofinal.head()

,Unnamed: 0,Season,TeamName,Size,Hgt5,Hgt4,Hgt3,Hgt2,Hgt1,HgtEff,...,OR4,OR3,OR2,OR1,DR5,DR4,DR3,DR2,DR1,Continuity
0,0.0,2007,Air Force,77.00,-0.69,-0.06,1.07,1.32,2.47,-0.75,...,25.11,18.12,24.00,11.03,23.29,24.96,18.92,14.67,18.17,NaN
1,1.0,2007,Akron,75.76,-1.52,0.47,-2.08,-1.85,0.47,-1.05,...,28.40,31.45,7.71,5.38,22.97,24.52,28.40,12.05,12.05,NaN
2,2.0,2007,Alabama,77.65,0.52,0.26,2.07,1.39,0.31,0.78,...,37.60,22.21,11.41,5.36,32.71,29.21,17.16,12.68,8.24,NaN
3,3.0,2007,Alabama A&M,77.01,1.75,-1.17,0.07,1.15,1.47,0.58,...,29.00,11.99,15.91,17.92,34.37,21.22,13.70,15.21,15.49,NaN
4,4.0,2007,Alabama St.,76.28,-1.16,-0.26,1.07,1.20,-1.53,-1.42,...,30.34,17.95,17.56,5.20,29.66,24.80,14.84,13.82,16.88,NaN

In [5]:
demofinal.drop(columns='Unnamed: 0')

,Season,TeamName,Size,Hgt5,Hgt4,Hgt3,Hgt2,Hgt1,HgtEff,Exp,...,OR4,OR3,OR2,OR1,DR5,DR4,DR3,DR2,DR1,Continuity
0,2007,Air Force,77.00,-0.69,-0.06,1.07,1.32,2.47,-0.75,2.61000,...,25.11,18.12,24.00,11.03,23.29,24.96,18.92,14.67,18.17,NaN
1,2007,Akron,75.76,-1.52,0.47,-2.08,-1.85,0.47,-1.05,2.09000,...,28.40,31.45,7.71,5.38,22.97,24.52,28.40,12.05,12.05,NaN
2,2007,Alabama,77.65,0.52,0.26,2.07,1.39,0.31,0.78,1.41000,...,37.60,22.21,11.41,5.36,32.71,29.21,17.16,12.68,8.24,NaN
3,2007,Alabama A&M,77.01,1.75,-1.17,0.07,1.15,1.47,0.58,0.77000,...,29.00,11.99,15.91,17.92,34.37,21.22,13.70,15.21,15.49,NaN
4,2007,Alabama St.,76.28,-1.16,-0.26,1.07,1.20,-1.53,-1.42,1.91000,...,30.34,17.95,17.56,5.20,29.66,24.80,14.84,13.82,16.88,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7029,2025,Xavier,77.31,0.07,0.91,0.25,0.07,-0.77,0.49,3.54073,...,31.13,18.65,6.92,6.80,26.76,22.75,23.14,14.28,13.03,25.805226
7030,2025,Yale,77.74,-0.73,-0.58,0.89,1.64,1.44,-0.65,1.66222,...,27.31,22.18,6.20,9.59,16.18,24.71,20.32,17.02,21.76,NaN
7031,2025,Yale,77.79,-0.79,-0.59,0.90,1.82,1.58,-0.69,1.72020,...,27.47,21.74,6.66,9.48,17.09,23.66,20.29,16.88,22.06,53.044540
7032,2025,Youngstown St.,76.84,2.00,-1.09,0.16,-0.90,-2.01,0.45,1.87617,...,23.18,21.95,10.03,8.31,21.70,29.79,21.85,13.94,12.69,14.457686
7033,2025,Youngstown St.,76.85,1.98,-1.09,0.11,-0.78,-1.99,0.45,1.85973,...,25.12,21.82,8.86,7.77,20.74,29.34,20.54,15.19,14.16,NaN

In [6]:
demofinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7034 entries, 0 to 7033
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6670 non-null   float64
 1   Season      7034 non-null   int64
 2   TeamName    7034 non-null   object
 3   Size        7034 non-null   float64
 4   Hgt5        7034 non-null   float64
 5   Hgt4        7034 non-null   float64
 6   Hgt3        7034 non-null   float64
 7   Hgt2        7034 non-null   float64
 8   Hgt1        7034 non-null   float64
 9   HgtEff      7034 non-null   float64
 10  Exp         7034 non-null   float64
 11  Bench       7034 non-null   float64
 12  Pts5        7034 non-null   float64
 13  Pts4        7034 non-null   float64
 14  Pts3        7034 non-null   float64
 15  Pts2        7034 non-null   float64
 16  Pts1        7034 non-null   float64
 17  OR5         7034 non-null   float64
 18  OR4         7034 non-null   float64
 19  OR3         7034 non-null   float64
 20  OR2         7034 non-null   float64
 21  OR1         7034 non-null   float64
 22  DR5         7034 non-null   float64
 23  DR4         7034 non-null   float64
 24  DR3         7034 non-null   float64
 25  DR2         7034 non-null   float64
 26  DR1         7034 non-null   float64
 27  Continuity  362 non-null    float64
dtypes: float64(26), int64(1), object(1)
memory usage: 1.5+ MB

In [7]:
demofinal=demofinal[demofinal['Size'] !=0]
demofinal.drop(columns=['Unnamed: 0','Continuity'], inplace=True, axis=1)

In [8]:
demofinal.to_csv('bigtime.csv')

We have

In [ ]:
numerical=demofinal.select_dtypes(exclude='object')
for col in numerical:
    fig, ax=plt.subplots()
    ax.boxplot(numerical[col])
    ax.set_title(f'Boxplot for {col}')
    ax.set_xlabel('Data')
    ax.set_ylabel('Values')
plt.show()

In [ ]:
for col in numerical:
    top_10=demofinal.nlargest(10, col)
    for index,row in top_10.iterrows():
        top_10.at[index, 'NameSeason']= f"{row['TeamName']} {row['Season']}"
    sns.barplot(x=top_10[col],y=top_10['NameSeason'])
    plt.title(f'Top 10 teams by {col}')
    plt.xlabel(f'{col}')
    plt.show()

In [ ]:
for col in numerical:
    top_10=demofinal.nsmallest(10, col)
    for index,row in top_10.iterrows():
        top_10.at[index, 'NameSeason']= f"{row['TeamName']} {row['Season']}"
    sns.barplot(x=top_10[col],y=top_10['NameSeason'])
    plt.title(f'Bottom 10 teams by {col}')
    plt.xlabel(f'{col}')
    plt.show()

We run into the same problem as before with teams that opted out of the pandemic year.
Because those teams do not have rosters (and therefore Size values of 0.0), we can easily drop them.

In [15]:
demofinal=demofinal[demofinal['Size'] > 0.0]

In [ ]:
demofinal.info()

Skewness and Kurtosis of Data

In [ ]:
numerical=demofinal.select_dtypes(exclude='object')
numerical.skew(axis=0, skipna=True)

In [ ]:
numerical.kurtosis(axis=0,skipna=True)

The issues in this dataset appear to be arising from the Offensive and Defensive Rebounding columns; this may be caused by outliers, which have been appearing in the visualizations.
I may have to run IQR drops on the offending columns to correct the issue.

Correlation Analysis, broken up by relevant information clusters (experience, height, rebounding numbers)

In [ ]:
mask=numerical.columns.str.contains('Hgt|Exp|Bench', regex=True)
masktwo=numerical.columns.str.contains('Pts', regex=True)
maskthree=numerical.columns.str.contains('OR|DR',regex=True)
height_exp=numerical.loc[:,mask]
Pts=numerical.loc[:,masktwo]
Res=numerical.loc[:,maskthree]

for x in (height_exp,Pts,Res):
    pearson=x.corr(method='pearson')
    spearman=x.corr(method='spearman')
    plt.figure(figsize=(10,8))
    sns.heatmap(pearson, annot=True, cmap='coolwarm')
    plt.title('Pearson Correlation Matrix')
    plt.show()  

    plt.figure(figsize=(10,8))
    sns.heatmap(spearman, annot=True, cmap='coolwarm')
    plt.title('Spearman Correlation Matrix')
    plt.show()

Variance Inflation Factor for each subset of the demographic data

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
for x in (height_exp,Pts,Res):
    vif_data=pd.DataFrame()
    vif_data['features']=x.columns
    vif_data['VIF']=[variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
    print(vif_data)

    vif_data = vif_data.sort_values(by="VIF", ascending=False)


    plt.figure(figsize=(10, 6))
    plt.barh(vif_data["features"], vif_data["VIF"], color="skyblue")
    plt.xlabel("Variance Inflation Factor (VIF)")
    plt.ylabel("Feature")
    plt.title("VIF Analysis for Multicollinearity")
    plt.gca().invert_yaxis()  
    plt.show()

Multivariate Analysis

In [21]:
demofinal['Team/Year']=demofinal['Season'].astype(str) + ' ' +demofinal['TeamName']

demofinal=demofinal.drop(columns=['Season','TeamName'], axis=1)

In [22]:
popper=demofinal.pop('Team/Year')
demofinal.insert(0,'Team/Year',popper)

In [ ]:
import plotly.express as px
fig = px.scatter(
demofinal,
x='HgtEff',
y='Exp',
hover_name='Team/Year',
title='relationship between effective height and average experience'
)
fig.show()

In [ ]:
fig = px.scatter(
demofinal,
x='HgtEff',
y='Hgt3',
hover_name='Team/Year',
title='Finding teams whose effective height are most closely tied to the heights of their small forwards'
)
fig.show()