In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 


pre=pd.read_csv('pretourney.csv')
pre=pre.drop(columns='Unnamed: 0', axis=1)

In [2]:
pre.head()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed,Seed
0,2024,Abilene Christian,70.6234,63,68.4072,117,99.2921,294,101.5090,260,103.0420,121,105.696,164,-4.18638,220,NaN,NaN
1,2024,Air Force,63.4044,354,61.7838,359,103.4510,220,105.9020,182,113.9820,346,113.089,322,-7.18660,260,NaN,NaN
2,2024,Akron,66.7904,274,65.9084,267,107.8170,122,106.9850,163,99.6876,47,102.050,97,4.93477,116,14.0,NaN
3,2024,Alabama,74.1625,7,72.6437,10,121.7120,2,125.6040,2,108.0310,254,103.121,112,22.48230,13,4.0,NaN
4,2024,Alabama A&M,71.7614,38,70.2920,47,95.5025,333,93.5544,347,104.7790,178,109.002,237,-15.44810,327,NaN,NaN

The 2001 dataset has the 'Seed' column capitalized. I am going to re-insert the row, concatenating on the common column.

In [3]:
pre=pre[pre['Season'] != 2024]

In [4]:
pre.drop(columns='Seed',axis=1, inplace=True)
pre.head()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
362,2023,Abilene Christian,69.8901,82,69.2174,83,101.3040,227,105.9030,158,106.2060,258,107.3380,222,-1.43456,192,NaN
363,2023,Air Force,63.6234,345,63.1849,347,104.0370,156,106.3460,152,104.3580,213,104.3830,155,1.96378,143,NaN
364,2023,Akron,66.9744,232,65.3479,283,109.6750,45,109.9790,95,101.2190,127,103.5070,135,6.47154,104,NaN
365,2023,Alabama,72.8260,12,72.7469,4,110.8620,32,116.0970,19,91.7957,5,88.5549,3,27.54250,3,1.0
366,2023,Alabama A&M,69.8428,86,68.3055,137,96.7316,313,96.6964,328,100.8150,116,107.9780,239,-11.28140,305,NaN

In [5]:
pre1=pd.read_csv('s2.csv')
pre1=pre1.rename(columns={'Seed':'seed'})
pre1.head()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
0,2001,Duke,77.2286,9,75.0153,9,118.877,2,124.098,2,91.2616,9,86.5298,2,37.5678,1,1.0
1,2001,Stanford,69.4388,169,66.6209,222,119.473,1,125.409,1,93.7620,27,92.1783,22,33.2310,2,1.0
2,2001,Michigan St.,67.0658,247,65.2918,268,115.947,4,120.101,3,92.5277,18,89.1730,8,30.9283,3,1.0
3,2001,Arizona,72.7256,67,71.0643,73,111.058,15,116.469,10,90.7581,5,86.5783,3,29.8902,4,2.0
4,2001,Illinois,70.6661,126,68.5154,155,107.802,38,115.464,12,92.0624,13,88.0356,4,27.4282,5,1.0

In [6]:
total=pd.merge(pre,pre1,how='outer')

In [7]:
total.head()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
0,2001,Air Force,57.8957,319,56.5365,320,99.4753,194,103.4550,141,108.4710,286,108.8230,277,-5.36745,208,NaN
1,2001,Akron,66.3672,266,66.0571,241,101.8900,137,104.1070,125,108.9820,296,108.3890,269,-4.28147,198,NaN
2,2001,Alabama,71.5751,100,69.5947,113,106.1500,64,109.1650,50,95.2501,45,94.2399,42,14.92560,39,NaN
3,2001,Alabama A&M,78.0625,5,74.7798,10,92.9641,284,89.9840,310,94.4888,37,101.2420,143,-11.25750,260,NaN
4,2001,Alabama St.,69.1009,185,64.3766,282,99.8084,191,94.6376,266,90.5706,4,99.1054,108,-4.46782,202,16.0

In [8]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7270 entries, 0 to 7269
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Season        7270 non-null   int64
 1   TeamName      7270 non-null   object
 2   Tempo         7270 non-null   float64
 3   RankTempo     7270 non-null   int64
 4   AdjTempo      7270 non-null   float64
 5   RankAdjTempo  7270 non-null   int64
 6   OE            7270 non-null   float64
 7   RankOE        7270 non-null   int64
 8   AdjOE         7270 non-null   float64
 9   RankAdjOE     7270 non-null   int64
 10  DE            7270 non-null   float64
 11  RankDE        7270 non-null   int64
 12  AdjDE         7270 non-null   float64
 13  RankAdjDE     7270 non-null   int64
 14  AdjEM         7270 non-null   float64
 15  RankAdjEM     7270 non-null   int64
 16  seed          1398 non-null   float64
dtypes: float64(8), int64(8), object(1)
memory usage: 965.7+ KB

In [9]:
total['Team/Year']=total['Season'].astype(str) + ' ' +total['TeamName']
total.drop(columns=['Season', 'TeamName'], axis=1, inplace=True)

In [10]:
total=total[total['Tempo'] !=0]

In [11]:
popper=total.pop('Team/Year')
total.insert(0,'Team/Year',popper)

In [12]:
total.to_csv('pretourney_clean.csv')

In [13]:
tourneyteams=total.dropna()

In [14]:
tourneyteams.head()

,Team/Year,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
4,2001 Alabama St.,69.1009,185,64.3766,282,99.8084,191,94.6376,266,90.5706,4,99.1054,108,-4.46782,202,16.0
10,2001 Arizona,72.7256,67,71.0643,73,111.0580,15,116.4690,10,90.7581,5,86.5783,3,29.89020,4,2.0
13,2001 Arkansas,74.3192,36,71.3952,62,106.9450,52,109.8390,44,92.9369,23,92.6020,25,17.23740,27,7.0
21,2001 BYU,65.9770,277,66.0401,243,107.6300,39,109.4360,46,94.1607,31,93.9034,38,15.53260,36,12.0
28,2001 Boston College,70.3050,145,68.5354,153,114.0300,5,117.5420,5,94.3622,35,94.1297,41,23.41210,11,3.0

In [15]:
tourneyteams.columns

Index(['Team/Year', 'Tempo', 'RankTempo', 'AdjTempo', 'RankAdjTempo', 'OE',
       'RankOE', 'AdjOE', 'RankAdjOE', 'DE', 'RankDE', 'AdjDE', 'RankAdjDE',
       'AdjEM', 'RankAdjEM', 'seed'],
      dtype='object')

In [16]:
tourneyteams.head()

,Team/Year,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
4,2001 Alabama St.,69.1009,185,64.3766,282,99.8084,191,94.6376,266,90.5706,4,99.1054,108,-4.46782,202,16.0
10,2001 Arizona,72.7256,67,71.0643,73,111.0580,15,116.4690,10,90.7581,5,86.5783,3,29.89020,4,2.0
13,2001 Arkansas,74.3192,36,71.3952,62,106.9450,52,109.8390,44,92.9369,23,92.6020,25,17.23740,27,7.0
21,2001 BYU,65.9770,277,66.0401,243,107.6300,39,109.4360,46,94.1607,31,93.9034,38,15.53260,36,12.0
28,2001 Boston College,70.3050,145,68.5354,153,114.0300,5,117.5420,5,94.3622,35,94.1297,41,23.41210,11,3.0

In [17]:
tourneyteams.to_csv('tourney.csv')

In [18]:
tourneyteams.loc[tourneyteams['AdjEM'] >30]

,Team/Year,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM,seed
79,2001 Duke,77.2286,9,75.0153,9,118.877,2,124.098,2,91.2616,9,86.5298,2,37.5678,1,1.0
189,2001 Michigan St.,67.0658,247,65.2918,268,115.947,4,120.101,3,92.5277,18,89.1730,8,30.9283,3,1.0
300,2001 Stanford,69.4388,169,66.6209,222,119.473,1,125.409,1,93.7620,27,92.1783,22,33.2310,2,1.0
433,2002 Cincinnati,68.4368,212,66.9485,202,112.274,10,117.448,7,86.3924,1,86.6033,1,30.8442,2,1.0
456,2002 Duke,77.0734,8,73.9016,10,116.373,1,121.374,1,90.2544,4,87.3522,2,34.0220,1,1.0
1110,2004 Duke,69.9636,91,67.6352,112,113.208,8,120.027,3,91.8003,12,88.2990,3,31.7279,1,1.0
1480,2005 Illinois,65.5156,238,64.8528,223,118.088,1,122.180,2,91.9408,14,88.8696,5,33.3107,1,1.0
1552,2005 North Carolina,76.9427,3,73.6909,5,115.440,7,121.055,3,91.7506,12,89.0521,6,32.0028,2,1.0
2219,2007 North Carolina,74.1408,10,71.8899,8,115.960,2,120.450,3,91.7164,10,88.7132,2,31.7371,1,1.0
2494,2008 Kansas,68.8789,106,66.8546,88,117.530,1,121.433,1,89.3201,4,87.4681,3,33.9647,1,1.0
2663,2008 UCLA,65.0976,246,63.1761,220,113.555,10,118.735,6,91.6434,8,88.1600,4,30.5753,2,1.0
3123,2010 Duke,67.7699,157,64.9637,202,114.554,6,119.296,4,91.1675,10,87.7467,5,31.5489,2,1.0
3181,2010 Kansas,70.0725,66,66.6569,115,115.923,4,119.854,2,90.9538,9,87.3419,4,32.5121,1,1.0
3608,2011 Ohio St.,64.4348,273,64.4098,241,119.336,1,123.643,1,93.5864,22,91.4115,14,32.2320,1,1.0
3876,2012 Kentucky,66.7066,180,64.0843,183,115.593,4,120.566,2,89.0214,8,88.8382,6,31.7277,1,1.0
4172,2013 Florida,62.6458,300,60.6898,295,114.451,8,118.162,6,85.6828,3,86.1792,4,31.9831,1,3.0
4235,2013 Louisville,66.6680,139,65.2907,107,108.622,31,114.313,17,85.2644,2,83.1717,1,31.1411,2,1.0
4445,2014 Arizona,64.5210,275,63.1175,267,112.267,37,115.193,24,88.8129,2,84.7964,1,30.3964,2,1.0
4585,2014 Louisville,69.1489,63,67.4981,58,118.693,3,119.102,7,88.0889,1,88.5345,6,30.5677,1,4.0
5238,2017 Gonzaga,70.8928,99,70.0220,72,119.293,2,120.711,10,86.2747,1,87.6571,2,33.0538,1,1.0
5465,2017 Villanova,65.8287,314,63.9872,324,117.917,5,122.753,3,95.7139,29,91.9756,12,30.7772,2,1.0
5816,2018 Villanova,70.2475,125,68.2770,168,122.829,1,127.384,1,99.8803,63,95.9749,22,31.4091,2,1.0
5817,2018 Virginia,60.5283,351,59.1912,351,111.133,46,116.528,21,88.0409,2,84.3753,1,32.1527,1,1.0
5911,2019 Duke,73.6764,19,72.2115,18,113.184,15,120.084,6,91.7450,8,88.0911,6,31.9925,3,1.0
5940,2019 Gonzaga,71.5883,58,69.7687,70,123.829,1,125.125,1,90.7597,5,92.3360,16,32.7887,2,1.0
6007,2019 Michigan St.,68.4006,212,67.4035,182,114.269,9,121.729,4,95.0157,22,90.3679,8,31.3607,4,2.0
6170,2019 Virginia,61.0806,353,59.2665,353,117.113,4,123.571,2,90.0009,4,87.9163,5,35.6552,1,1.0
6295,2021 Gonzaga,75.2784,8,74.7701,4,122.395,1,126.111,1,91.6576,12,89.4872,10,36.6241,1,1.0
6312,2021 Illinois,71.5738,78,70.7135,80,112.127,18,118.957,7,95.8562,50,88.3445,5,30.6122,3,1.0
6362,2021 Michigan,67.5470,251,66.8217,261,112.349,15,119.434,6,96.3266,58,88.6425,7,30.7915,2,1.0
6652,2022 Gonzaga,73.7703,6,72.4831,4,118.885,2,121.805,1,88.5732,3,88.8360,7,32.9688,1,1.0