In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.stats.api as sms
from math import ceil

FFO=pd.read_csv('AB.csv')
FFO.drop(columns=['Unnamed: 0'],inplace=True, axis=1)

In [7]:
FFO.head()

,Team/Year,eFGPct,TOPct,ORPct,FTRate,Year,binnedOREB
0,2025 Abilene Christian,47.456214,20.614869,28.205128,39.616347,2025,post-change
1,2025 Air Force,50.279107,20.779381,24.039653,37.240829,2025,post-change
2,2025 Akron,55.272346,17.293210,32.758621,24.441341,2025,post-change
3,2025 Alabama,56.504599,17.668644,37.049550,41.721419,2025,post-change
4,2025 Alabama A&M,44.880677,21.762263,35.225956,37.875289,2025,post-change

In [9]:
FFO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8304 entries, 0 to 8303
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Team/Year   8304 non-null   object
 1   eFGPct      8304 non-null   float64
 2   TOPct       8304 non-null   float64
 3   ORPct       8304 non-null   float64
 4   FTRate      8304 non-null   float64
 5   Year        8304 non-null   int64
 6   binnedOREB  8304 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 454.2+ KB

Hypothesis: The NCAA moved the men's three point line back in 2019. I want to conduct a hypothesis test to determine whether the change in shot distance has affected the percentage of shots that are rebounded by the offensive team.
If the hypothesis is true, this would indicate a change in the strategic approach of coaches to the game.

First, we must determine how many samples we need to pull from our dataset to conduct the experiment.

In [10]:
effect_size = sms.proportion_effectsize(0.31, 0.34)    # Calculating effect size based on our expected rates

required_n = sms.NormalIndPower().solve_power(
    effect_size, 
    power=0.8, 
    alpha=0.05, 
    ratio=1
    )                                                  # Calculating sample size needed

required_n = ceil(required_n)                          # Rounding up to next whole number                          

print(required_n)

3825